  <nav class="header-navbar">
    <div class="nav-title">
      <a href="/" class="text-decoration-none">Matt Joseph</a>
    </div>
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="sidebar-trigger">☰</div>
  </nav>
  <amp-sidebar id="header-sidebar" class="custom-sidebar" layout="nodisplay" side="left">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="sidebar-trigger sidebar-close-button">✕</div>
    <ul class="list-reset">
      <li>
        <amp-accordion layout="container" disable-session-states="" class="sidebar-dropdown">
          <section>
            <header>Open Source Projects</header>
            <ul class="list-reset">
              <li><a href="/rootcloak/" class="text-decoration-none">RootCloak</a></li>
              <li><a href="/rootcloakplus/" class="text-decoration-none">RootCloak Plus</a></li>
              <li><a href="/sms-backup-reader/" class="text-decoration-none">SMS Backup Reader</a></li>
              <li><a href="/circularseekbar/" class="text-decoration-none">CircularSeekbar</a></li>
              <li><a href="/undergradwork/" class="text-decoration-none">Undergrad Projects</a></li>
            </ul>
          </section>
        </amp-accordion>
      </li>
      <li><a href="/photography/" class="text-decoration-none">Photography</a></li>
      <li><a href="/cmu-tunnels-map/" class="text-decoration-none">CMU Steam Tunnels</a></li>
      <li><a href="https://medium.com/@mattjoseph" target="_blank" rel="noopener" class="text-decoration-none">Medium Articles</a></li>
      {% include 2018design-shareicons.html %}
      
    </ul>
  </amp-sidebar>