  <article class="section-dark">
    <h1>Photography</h1>
    <p>These are a few of my photos. Visit my Instagram to see more.</p>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <a href="/images/photography/pittsburgh.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/pittsburgh.jpg" width="768" height="512" alt="Pittsburgh, Pennsylvania, U.S." layout="responsive"></amp-img>
        </a>
        <figcaption class="center">Pittsburgh, Pennsylvania, U.S.</figcaption>
      </div>
      <div class="flex-item-horizontal">
        <a href="/images/photography/italy.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/italy.jpg" width="768" height="512" alt="Rome, Italy" layout="responsive"></amp-img>
        </a>
        <figcaption class="center">Rome, Italy</figcaption>
      </div>
      <div class="flex-item-horizontal">
        <a href="/images/photography/japan.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/japan.jpg" width="768" height="512" alt="Kyoto, Italy" layout="responsive"></amp-img>
        </a>
        <figcaption class="center">Kyoto, Italy</figcaption>
      </div>
    </div>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <a href="/images/photography/berlin.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/berlin.jpg" width="768" height="512" alt="Berlin, Germany" layout="responsive"></amp-img>
        </a>
        <figcaption class="center">Berlin, Germany</figcaption>
      </div>
      <div class="flex-item-horizontal">
        <a href="/images/photography/macro.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/macro.jpg" width="768" height="512" alt="Macro of basil" layout="responsive"></amp-img>
        </a>
        <figcaption class="center">Macro of basil</figcaption>
      </div>
      <div class="flex-item-horizontal">
        <a href="/images/photography/sf.jpg" target="_blank" rel="noopener">
          <amp-img src="/images/photography/sf.jpg" width="768" height="512" alt="San Francisco, California, U.S." layout="responsive"></amp-img>
        </a>
        <figcaption class="center">San Francisco, California, U.S.</figcaption>
      </div>
    </div>
  </article>