<amp-sidebar id='drawermenu' layout="nodisplay">
    <div class="topheader">
        <a href="{{ site.url }}/amp/" class="home">Matt Joseph</a>
    </div>
    <hr/>

    <h4 class="category">
        <a href="/amp/rootcloak/">RootCloak (Xposed)</a>
    </h4>
    <h4 class="category">
        <a href="/amp/sms-backup-reader/">SMS Backup Reader</a>
    </h4>
    <h4 class="category">
        <a href="/amp/undergradwork/">Undergrad Work</a>
    </h4>
    <h4 class="category">
        <a href="/amp/rootcloakplus/">RootCloak Plus (Cydia)</a>
    </h4>
    <h4 class="category">
        <a href="/amp/circularseekbar/">CircularSeekBar</a>
    </h4>
    <h4 class="category">
        <a href="/amp/cmu-tunnels-map/">CMU Steam Tunnels</a>
    </h4>
    <h4 class="category">
        <a href="/amp/photography/">Photography</a>
    </h4>
    <h4 class="category">
        <a href="https://www.linkedin.com/in/mattjoseph0" target="_blank">LinkedIn</a>
    </h4>
    <h4 class="category">
        <a href="http://instagram.com/mattnotmatte/" target="_blank">Instagram</a>
    </h4>
    <h4 class="category">
        <a href="http://facebook.com/encrypt" target="_blank">Facebook</a>
    </h4>
    <h4 class="category">
        <a href="https://plus.google.com/115147267178456662187?rel=author" target="_blank">Google+</a>
    </h4>

</amp-sidebar>

<div class="header">
    <a id="hamburger" on='tap:drawermenu.toggle'>
    <amp-img srcset="/images/ic_menu_white_1x_web_24dp.png 1x, /images/ic_menu_white_2x_web_24dp.png 2x"
        width="24"
        height="24"
        alt="navigation"></amp-img>
    <a id="logo" href="/amp/">Matt Joseph</a>
</a>
</div>