<div class="section footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="text-align:center;">
        <a href="https://www.linkedin.com/in/matthewgjoseph" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <span style="width:5px;display:inline-block;"></span>
        <a href="http://instagram.com/mattnotmatte/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        <span style="width:5px;display:inline-block;"></span>
        <a href="http://facebook.com/encrypt" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <span style="width:5px;display:inline-block;"></span>
        <a href="https://plus.google.com/115147267178456662187?rel=author" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="text-align:center;"><p>&copy; 2016 Matt Joseph</p></div>
    </div>
  </div>
</div>
