<!-- Always shows a header, even in smaller screens. -->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title" href="/" style="color:white; text-decoration: none;">{{ site.title }}</a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="https://www.linkedin.com/in/mattjoseph0" target="_blank">LinkedIn</a>
      <a class="mdl-navigation__link" href="http://instagram.com/mattnotmatte/" target="_blank">Instagram</a>
      <a class="mdl-navigation__link" href="http://facebook.com/encrypt" target="_blank">Facebook</a>
      <a class="mdl-navigation__link" href="https://plus.google.com/115147267178456662187?rel=author" target="_blank">Google+</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Pages</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/rootcloak/">RootCloak (Xposed)</a>
    <a class="mdl-navigation__link" href="/sms-backup-reader/">SMS Backup Reader</a>
    <a class="mdl-navigation__link" href="/undergradwork/">Undergrad Work</a>
    <a class="mdl-navigation__link" href="/rootcloakplus/">RootCloak Plus (Cydia)</a>
    <a class="mdl-navigation__link" href="/circularseekbar/">CircularSeekBar</a>
    <a class="mdl-navigation__link" href="/cmu-tunnels-map/">CMU Steam Tunnels</a>
    <a class="mdl-navigation__link" href="/photography/">Photography</a>
    <a class="mdl-navigation__link" href="https://www.linkedin.com/in/mattjoseph0" target="_blank">LinkedIn</a>
    <a class="mdl-navigation__link" href="http://instagram.com/mattnotmatte/" target="_blank">Instagram</a>
    <a class="mdl-navigation__link" href="http://facebook.com/encrypt" target="_blank">Facebook</a>
    <a class="mdl-navigation__link" href="https://plus.google.com/115147267178456662187?rel=author" target="_blank">Google+</a>
  </nav>
</div>