<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "image": "https://mattj.io/images/avatar-540px.png",
      "jobTitle": "Head of the Jersey City Innovation Center",
      "name": "Matt Joseph",
      "alumniOf": "University of Pittsburgh",
      "gender": "male",
      "url": "https://mattj.io",
	    "sameAs" : [ "https://www.facebook.com/encrypt",
        "https://www.linkedin.com/in/mattjoseph0/",
        "https://twitter.com/mattjoseph0",
        "https://www.instagram.com/mattnotmatte",
        "https://github.com/devadvance",
        "https://medium.com/@mattjoseph",
        "https://plus.google.com/+MattJosephPlus"]
    }
</script>