  <article class="section-dark">
    <h1>Photography</h1>
    <p>These are a few of my photos. Visit my <a href="https://medium.com/@mattjoseph" target="_blank" rel="noopener">Instagram</a> to see more.</p>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/pittsburgh.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/pittsburgh.webp" width="768" height="512" alt="Pittsburgh, Pennsylvania, U.S." class="responsive" />
        </a>
        <figcaption class="center">Pittsburgh, Pennsylvania, U.S.</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/italy.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/italy.webp" width="768" height="512" alt="Rome, Italy" class="responsive" />
        </a>
        <figcaption class="center">Rome, Italy</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/japan.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/japan.webp" width="768" height="512" alt="Kyoto, Italy" class="responsive" />
        </a>
        <figcaption class="center">Kyoto, Italy</figcaption>
        </figure>
      </div>
    </div>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/berlin.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/berlin.webp" width="768" height="512" alt="Berlin, Germany" class="responsive" />
        </a>
        <figcaption class="center">Berlin, Germany</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/macro.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/macro.webp" width="768" height="512" alt="Macro of basil" class="responsive" />
        </a>
        <figcaption class="center">Macro of basil</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/sf.webp" target="_blank" rel="noopener" class="text-decoration-none">
          <img src="/images/photography/sf.webp" width="768" height="512" alt="San Francisco, California, U.S." class="responsive" />
        </a>
        <figcaption class="center">San Francisco, California, U.S.</figcaption>
        </figure>
      </div>
    </div>
  </article>