  <article class="section-dark">
    <h1>Photography</h1>
    <p>These are a few of my photos. Visit my <a href="https://www.instagram.com/mattnotmatte/" target="_blank" rel="noopener">Instagram</a> to see more.</p>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/pittsburgh.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/pittsburgh.avif" />
            <source type="image/webp" srcset="/images/photography/pittsburgh.webp" />
            <source type="image/jpeg" srcset="/images/photography/pittsburgh.jpg" />
            <img src="/images/photography/pittsburgh.jpg" width="768" height="512" alt="Pittsburgh, Pennsylvania, U.S." class="responsive" />
          </picture>
        </a>
        <figcaption class="center">Pittsburgh, Pennsylvania, U.S.</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/italy.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/italy.avif" />
            <source type="image/webp" srcset="/images/photography/italy.webp" />
            <source type="image/jpeg" srcset="/images/photography/italy.jpg" />
            <img src="/images/photography/italy.jpg" width="768" height="512" alt="Rome, Ital" class="responsive" />
          </picture>
        </a>
        <figcaption class="center">Rome, Italy</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/japan.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/japan.avif" />
            <source type="image/webp" srcset="/images/photography/japan.webp" />
            <source type="image/jpeg" srcset="/images/photography/japan.jpg" />
            <img src="/images/photography/japan.jpg" width="768" height="512" alt="Kyoto, Italy" class="responsive" />
          </picture>
        </a>
        <figcaption class="center">Kyoto, Italy</figcaption>
        </figure>
      </div>
    </div>
    
    <div class="flex-horizontal">
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/berlin.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/berlin.avif" />
            <source type="image/webp" srcset="/images/photography/berlin.webp" />
            <source type="image/jpeg" srcset="/images/photography/berlin.jpg" />
            <img src="/images/photography/berlin.jpg" width="768" height="512" alt="Berlin, Germany" class="responsive" />
          </picture>
        </a>
        <figcaption class="center">Berlin, Germany</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/macro.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/macro.avif" />
            <source type="image/webp" srcset="/images/photography/macro.webp" />
            <source type="image/jpeg" srcset="/images/photography/macro.jpg" />
            <img src="/images/photography/macro.jpg" width="768" height="512" alt="Macro of basil" class="responsive" />
          </picture>
        </a>
        <figcaption class="center">Macro of basil</figcaption>
        </figure>
      </div>
      <div class="flex-item-horizontal">
        <figure class="fill-parent">
        <a href="/images/photography/sf.jpg" target="_blank" rel="noopener" class="text-decoration-none">
          <picture>
            <source type="image/avif" srcset="/images/photography/sf.avif" />
            <source type="image/webp" srcset="/images/photography/sf.webp" />
            <source type="image/jpeg" srcset="/images/photography/sf.jpg" />
            <img src="/images/photography/sf.jpg" width="768" height="512" alt="San Francisco, California, U.S." class="responsive" />
          </picture>
        </a>
        <figcaption class="center">San Francisco, California, U.S.</figcaption>
        </figure>
      </div>
    </div>
  </article>