<!DOCTYPE html>
<html amp lang="en">
  
  {% include amp-head.html %}

  <body>
        {% include amp-analytics.html %}
    
      {% include amp-nav.html %}
      <div id="">

        {{ content }}
      </div>

      

      <footer>
      <p><a href="{{ site.url }}{{ page.canonical}}">&gt; Full Site &lt;</a></p>
      <br />
        <ul>
          <li><a href="https://www.linkedin.com/in/mattjoseph0" target="_blank">LinkedIn</a></li>
          <li><a href="http://instagram.com/mattnotmatte/" target="_blank">Instagram</a></li>
          <li><a href="http://facebook.com/encrypt" target="_blank">Facebook</a></li>
          <li><a href="https://plus.google.com/115147267178456662187?rel=author" target="_blank">Google+</a></li>
        </ul>
      </footer>
  </body>

</html>
